/* Body.css */
.body-content {
    padding: 80px;
    background-color: #e8cbcb;
  }
  
  .body-content img {
    max-width: 100%;
    display: block;
    margin-top: 20px;
  }

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

.male{
  background-color: blue;
}

.female{
  background-color:red;
}

